div.containerBib1 {
  width: 35%;
  margin: 0 auto;
}

div.libreriaOpen {
  position: relative;
  display: flex;
  justify-content: center;
}

div.libreriaClosed {
  display: none;
}

.casilla {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.titulo {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.casillaCursor {
  position: relative;
  overflow: hidden;
  width: 100%;
  cursor: grabbing;
}

.casilla img:first-child {
  display: flex;
}

.casilla img:last-child {
  display: none;
}

.casilla:hover img:last-child {
  display: flex;
}

.casilla:hover img:first-child {
  display: none;
}

.columnA {
  display: flex;
  flex-direction: column;
  width: 408px;
}

.columnB {
  display: flex;
  flex-direction: column;
  width: 249px;
}

.columnC {
  display: flex;
  flex-direction: column;
  width: 249px;
}

.columnD {
  display: flex;
  flex-direction: column;
  width: 245.5px;
}

.columnE {
  display: flex;
  flex-direction: column;
  width: 252px;
}

.columnF {
  display: flex;
  flex-direction: column;
  width: 443.5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  padding: 20px;
}

video.open {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

video.closed {
  display:none;
}